#
# RadioConsole2 DVM FNE Daemon
#

#
# Logging Configuration
#
#   Logging Levels:
#     0 - Verbose (Tons of log prints, only use when troubleshooting)
#     1 - Debug (Still a lot of log prints, but less so than verbose)
#     2 - Message
#     3 - Informational
#     4 - Warning
#     5 - Error
#     6 - Fatal
#
log:
    # Console display logging level (used when in foreground).
    displayLevel: 1
    # File logging level.
    fileLevel: 1
    # Full path for the directory to store the log files.
    filePath: .
    # Full path for the directory to store the activity log files.
    activityFilePath: .
    # Log filename prefix.
    fileRoot: rc2-dvm

#
# Network Configuration
#
network:
    # Network Peer ID
    peerId: 999000
    # Identity of this peer
    identity: "RC2DVM"
    
    # Hostname/IP of the FNE master to connect to
    address: 127.0.0.1
    # Port number of the FNE master
    port: 62031
    # FNE access password
    password: "PASSWORD"
    # Whether the FNE connection is encrypted
    encrypted: false
    # Encryption pre-shared key
    presharedKey: "000102030405060708090A0B0C0D0E0F000102030405060708090A0B0C0D0E0F"

    # Whether affiliations are sent for talkgroups from the virtual channels
    sendChannelAffiliations: false

    # Whether diagnostic information is sent to the FNE
    allowDiagnosticTransfer: true

    # Whether additional debug is printed to the log
    debug: false

#
# Global Audio Config
#
# This applies to any virtual channels that don't have their own audioConfig blocks
#
audio:
    # Audio lowpass filter high cut (Hz)
    audioHighCut: 3500
    # Post-vocoder RX audio gain
    rxAudioGain: 1.0
    # Vocoder RX audio gain (not used for external vocoders)
    rxVocoderGain: 3.0
    # Vocoder AGC enabled (not used for external vocoders)
    rxVocoderAGC: false
    # Pre-Vocoder TX audio gain
    txAudioGain: 1.0
    # Vocoder TX audio gain (not used for external vocoders)
    txVocoderGain: 3.0
    # Whether to repeat TX audio from the console on the local PC speakers
    txLocalRepeat: false
    # Whether to detect tones
    txToneDetection: true
    # Ratio above which a valid tone is detected (keep this default unless you get false positives)
    txToneRatio: 95
    # Number of sequential tone detections required before a tone is encoded
    txToneHits: 3
    # Lower limit for tone detection in hz
    txToneLowerLimit: 500
    # Upper limit for tone detection in hz
    txToneUpperLimit: 2000

#
# (Optional) Scan Configuration
#
scan:
  # Whether talkback is enabled (default: false)
  # Talkback allows you to transmit on a channel that scan has landed on within the scan hangtime
  talkback: false
  # Scan hangtime to wait on a landed channel before returning to the selected channel (in ms, default: 3000)
  hangtime: 3000

#
# (Optional) Global Talkgroups List
#
# This avoids having to repeat a talkgroup list for multiple channels
# Individual channels can have their own talkgroups list which overrides this
#
talkgroups:
    # Talkgroup Textual name
  - name: TG1
    # Talkgroup ID
    destinationId: 1
    # Talkgroup timeslot (only used for DMR talkgroups)
    timeslot: 1
    # Whether this talkgroup is included in the scanlist (default: true)
    scan: false
        
    # Talkgroup Textual name
  - name: TG2
    # Talkgroup ID
    destinationId: 2
    # Talkgroup timeslot (only used for DMR talkgroups)
    timeslot: 1
    # Crypto algorithm ID (0x80 = Clear, 0x81 = DES, 0x84 = AES, 0xAA = ARC4/ADP)
    algId: 0xAA
    # Crypto Key ID (loaded from keyfile or FNE)
    keyId: 0x01
    # Whether this talkgroup is full-time strapped or selectable encryption
    strapped: true
        
    # Talkgroup Textual name
  - name: PARROT
    # Talkgroup ID
    destinationId: 9990
    # Talkgroup timeslot (only used for DMR talkgroups)
    timeslot: 1

#
# Virtual Channel Config
#
# Each channel configured here represents a single "radio" that can be connected
# to an RC2 instance
#
virtualChannels:
    # Channel Name
  - name: "RC2DVM"
    # Zone Name (shown in RC2 zone text)
    zone: "Zone 1"
    # Websocket/WebRTC listen address
    listenAddress: 127.0.0.1
    # Websocket listen port
    listenPort: 8810
    
    # Channel mode (1 = DMR, 2 = P25)
    mode: 2
    
    # (Optional) Vocoder Audio Configuration can override global audio config for a single channel
    audio:
        # Audio lowpass filter high cut (Hz)
        audioHighCut: 3500
        # Post-vocoder RX audio gain
        rxAudioGain: 1.0
        # Vocoder RX audio gain (not used for external vocoders)
        rxVocoderGain: 3.0
        # Vocoder AGC enabled (not used for external vocoders)
        rxVocoderAGC: false
        # Pre-Vocoder TX audio gain
        txAudioGain: 1.0
        # Vocoder TX audio gain (not used for external vocoders)
        txVocoderGain: 3.0
        # Whether to repeat TX audio from the console on the local PC speakers
        txLocalRepeat: false
        # Whether to detect tones
        txToneDetection: true
        # Ratio above which a valid tone is detected (keep this default unless you get false positives)
        txToneRatio: 95
        # Number of sequential tone detections required before a tone is encoded
        txToneHits: 3
        # Lower limit for tone detection in hz
        txToneLowerLimit: 500
        # Upper limit for tone detection in hz
        txToneUpperLimit: 2000

    # Source ID for this virtual channel ("radio ID")
    sourceId: 1
    # Whether this channel is RX-only (TX disabled)
    rxOnly: false
    # Whether to send grant demands on TX
    txGrantDemands: true
    # Announcement Group
    announcementGroup: 65534
    # Play a tone when an announcement call is received
    announcementGroupTone: false
    
    #
    # (Optional) Talkgroups for this channel
    #
    # This talkgroups list is formatted the same way as the global talkgroups list and 
    # overrides talkgroups available to this specific channel
    #
    talkgroups:
        # Talkgroup Textual name
      - name: Secret TG
        # Talkgroup ID
        destinationId: 2135
        # Talkgroup timeslot (only used for DMR talkgroups)
        timeslot: 1

    # The talkgroup that this channel starts on, and reverts to on a press of the HOME softkey
    homeTalkgroup: "TG2"

    # You can also override the global scan config per-virtual channel as shown here
    scan:
      talkback: true
      hangtime: 2000